body {
	padding: 50px;
	color: #ccc;
	margin: 0;
	background: url('/project-skynet-large.png') top center;
	background-repeat: no-repeat;
	background-size: 100%;
}

h1 {
	font-size: 4em;
	line-height: 1.2em;
	padding: 0;
	margin-left: -9999px;
}

h3 {
	font-size: 2em;
	margin-left: -9999px;
}